.home-container {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    min-height: 90vh;
    align-items: center;
    width: 100%;
}


@media(min-width : 968px){
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/**/