.cake-info {
    width: 80%;
    min-height: 25rem;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: ivory;
    border-radius: 25px;
    overflow: hidden;
    
}
.cake-info h3{
    color: rgb(88, 88, 88);
}
.cake-info-img {
    width: 100%;
    height: 20rem;
    margin-bottom: 1.6rem;
}

.cake-info-img img {
    width: 100%;
    height: 100%;
}

.price-parag {
    color: rgb(85, 83, 83);
    font-size: 1.2rem;
}

@media screen and (min-width: 300px) and (max-width: 700px) and (orientation: landscape){
    .form-container{
        width: 70%;
    }
    .form-field{
        flex-direction: column;
    }
    .cake-field{
        width: 70%;
    }
    .cake-info{
        width: 70%;
    }
}

@media screen and (min-width: 968px){
  .form-container{
      width: 60%;
  }
  .cake-info {
      width: 50%;
  }
}
