.about-section {
    background-image: url("home_background.jpg");
    background-color: bisque;
    min-height: 90vh;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
p{
    color: rgb(215, 230, 245);
}

.cakes-section {
    min-height: 90vh;
    width: 100%;
    background-color: #ab8060;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
}
.cakes-section button, .cupcakes-section button{
    height: 8vh;
    width: 20vh ;
    background-color: rgb(94, 92, 92);
    color: rgb(238, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.2rem;
    border-radius: 25px;
}
a {
    text-decoration: none;
}

.cupcakes-section {
    min-height: 90vh;
    width: 100%;
    background-color: #d2a494;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

@media(min-width : 500px) and (orientation: landscape) {
    .cakes-section button, .cupcakes-section button {
        width: 10rem;
    } 
    .cupcakes-section{
        min-height: 100vh;
        width: 80%;
    }
    .about-section {
        width: 80%;
    }
    .cakes-section{
        width: 80%;
        min-height: 100vh;
    }
}
        

@media(min-width : 968px){
    .about-section{
        width: 70%;
    }

    .cakes-section{
        width: 70%;
        min-height: 90vh;
    }
    
    .cupcakes-section{
        width: 70%;
        min-height: 90vh;
    }

}