.form-container {
    min-height: 90vh;
    background-color: coral;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


[type="file"] {
    width: 80%;
    background: none ;
    border: 2px solid salmon;
}


.form-field {
    width: 90%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.error-con{
   width: 100%;
   background-color: lightgrey;
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 2px;
   margin-top: 20px;
}
.error-con p {
    font-size: 1.1rem;
    color: rgb(243, 92, 92);
    margin: 2px;
    text-align: center;
}

.order-code-con {
    width: 90%;
    height: 3rem;
    background-color: rgb(236, 118, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 1rem;
}
.order-code-con p {
    font-size: 1.4rem;
}

.page-header {
    width: 90%;
    height: 3rem;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 25px;
}
h2 {
    color: rgb(76, 95, 116);
}

.cake-field{
    min-height: 30rem;
    width: 100%;
    background-color: rgb(231, 225, 225);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
 .number-input{
     width: 5rem;
     height: 1.5rem;
     background: none;
     border: none;
     border: 2px solid salmon;
     padding: 3px;
     font-size: 1.1rem;
 }
 

.cake-field-title{
    width: 80%;
    height: 3rem;
    background-color: rgb(236, 118, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}

.cake-selection {
    min-height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 25px ;
}

.delivery-rad {
    margin-top: 10px;
    width: 100%;
}

label{
    color: rgb(10, 7, 7);
    font-size: 1.1rem;
}

span {
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h3 {
   font-size: 1.5rem;
   color: rgb(221, 207, 207);
}

[type="text"] {
    display: block;
    border: none;
    background: none;
    border-bottom: 2px solid salmon;
    width: 150px;
    font-size: 1rem;
    color: slategray;
}

[type="text"]:focus{
    outline: none;
}

.span-div{
    width: 100%;
}

.full-name {
    width: 80%;
    text-transform: capitalize;
}
.full-name:focus{
    outline: none;
   
}

.text-area {
    width: 80%;
    height: 3rem;
    font-size: 1.2rem;
    padding: 5px;
    color: rgb(95, 93, 93);
    background-color: transparent;
    border:none;
    border: 2px salmon solid;
}
.text-area:focus {
    outline: none;
}

.select-box {
    width: 80%;
    height: 1.7rem;
    border: 2px salmon solid;
    background-color: transparent;
    font-size: 0.8rem;
    color: rgb(95, 93, 93);
}

.select-box:focus{
    outline: none;
}
option{
    font-size: 0.8rem;
}
.select-box:focus + option {
    width: 80%;
}
.date-input{
    width: 80%;
    background-color: transparent;
    border: 2px solid salmon;
    height: 1.7rem;
    color: rgb(95, 93, 93);
    font-size: 1.2rem;
    text-align: center;
}
.pick-title {
    margin: 20px 0px 20px 0px ;
}

.button-div{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.button-div button {
    width: 200px;
    height: 3.5rem;
    background: transparent;
    border: none;
    border: 2px solid rgb(92, 91, 91);
    border-radius: 20px;
    color: rgb(236, 225, 225);
    font-size: 1.3rem;
}
.button-div button:hover{
    background-color: rgb(26, 25, 25);
}

.button-div button::after{
    outline: none;
}

.file-field p{
    color: slategrey;
    font-size: 0.8rem !important;
  }

/*Radio button styling*/


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
/* the circles*/
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}


[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
 /* the circled dots */
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


span [type="radio"]:checked ~ [type="text"] {
    display: block;
}

span [type="radio"]:not(:checked) ~ [type="text"] {
    display: none;
    
}

span [type="radio"]:not(:checked) ~ [type="text"]:after {
   content: "hello world";
}

.delivery-rad [type="radio"]:checked ~ .address {
    height: 18rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.delivery-con{
    justify-content: flex-start !important;
}


.pickup-rad [type="radio"]:checked ~ .pick-address {
    margin-top: 20px;
    width: 80%;
    height: 18rem;
    border: 2px solid salmon;
    padding: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 25px;
}
.pick-address h3, h4 {
    color: rgb(110, 110, 110);
}
.pick-address p{
  font-size: 0.9rem;
  color: rgb(110, 110, 110);
}


.pick-address{
    display: none;
}

.address {
    display: none;
}


[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="tel"] {
    background: transparent;
    border: none;
    width: 150px;
    border-bottom: 2px solid salmon;
}

[type="tel"]:focus{
    outline: none;
}
.form-container-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* orientation mode on devices */
@media screen and (min-width: 300px) and (max-width: 900px) and (orientation: landscape) {
     .form-container{
         width: 80%;
     }
     .cake-field{
         width: 45%;
         min-height: 25rem;
     }
     .cake-selection{
         min-height: 20rem;
     }
     .form-field{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    h3{
        font-size: 1rem;
    }
    .cake-field-title {
        height: 2rem;
    }
    .pickup-rad [type="radio"]:checked ~ .pick-address {
        width: 90%;
        height: 15rem;
        margin-top: 15px;
        padding: 5px;
    }
    p{
        font-size: 0.8rem;
    }
    .pick-address p, h4{
       font-size: 0.8rem;
    }
    label {
        font-size: 1rem;
    }
    [type="text"] {
        font-size: 0.8rem;
    }
    
   .delivery-rad [type="radio"]:checked ~ .address {
       height: 16rem;
   }
  }

@media(min-width : 738px){
    .form-container{
        width: 80%;
    }
    .cake-field{
        width: 80%;
    }
    .form-field{
        align-items: center;
    }
}



@media(min-width : 968px){
    
    label{
        font-size: 1rem;
    }

    .form-container{
        width: 70%;
        
    }
    .form-field{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .cake-field{
        width: 40%;
        min-height: 27rem;
    }
    .order-code-con {
        width: 40vh;
        margin-bottom: 20px;
    }
    .pickup-rad [type="radio"]:checked ~ .pick-address {
        width: 90%;
        height: 15rem;
       
    }
    .delivery-rad [type="radio"]:checked ~ .address {
        height: 15rem;
    }
}