.cake-page-div{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.cake-page-con {
    min-height: 90vh;
    width: 100%;
    background-color: rgb(234, 236, 123);
    display: flex;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
}

.each-cake-con {
    width: 45%;
    height: 20rem;
    margin: 10px 0;
    border: 2px solid saddlebrown;
    border-radius: 25px;
    overflow: hidden;
}
.image-con {
    width: 100%;
    height: 10rem;
}

.image-con img {
    height: 100%;
    min-width: 100%;
}

.cake-details-con h4{
    color: salmon;
}
.cake-details-con p{
    color: rgb(102, 98, 98);
}

.cake-details-con button {
    background-color: transparent;
    font-size: 1rem;
    width: 8rem;
    height: 1.8rem;
    border: none;
    border: 2px solid salmon;
    border-radius: 10px;
    color: rgb(97, 93, 93);
}
.cake-details-con button:hover{
    background-color: rgb(95, 94, 94);
    color: lightgray;
}

.cake-details-con {
    background-color: lavenderblush;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


@media screen and (min-width: 300px) and (max-width: 700px) and (orientation: landscape) {
    .cake-page-con{
        width: 80%;
    }
    .each-cake-con {
        width: 30%;
    }
    .cake-details-con button {
        width: 7em;
        height: 1.7rem;
        font-size: 0.9rem;
    }
    .cake-details-con{
        height: 10rem;
    }
}
@media(min-width : 748px){
  .cake-page-con{
      width: 80%;
  }
  .each-cake-con{
      width: 40%;
  }
}



@media(min-width : 968px){
    .cake-page-con{
        width: 90%;
    }
    .image-con{
        height: 17rem;
    }
    .each-cake-con{
        width: 32%;
    }
    .cake-details-con {
        height: 13rem;
    }
    .each-cake-con{
        min-height: 30rem;
    }
    .cake-details-con button {
        width: 8rem;
        height: 2rem;
    }
}

@media(min-width : 1200px){
    .cake-page-con{
        width: 70%;
    }
    .each-cake-con{
        width: 22%;
        min-height: 23rem;
    }
    .image-con{
        height: 13rem;
    }
    .cake-details-con{
        height: 10rem;
    }
    .cake-details-con button {
        width: 8rem;
        height: 2rem;
        cursor: pointer;
    }
}