.payment-con-wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment-con {
    min-height: 100vh;
    width: 100%;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.payment-form-con{
    width: 90%;
    height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    margin: 10px 0px;
}
.instructions{
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(61, 59, 59);
    padding: 10px;
}
.bank-account{
    width: 90%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(61, 59, 59);
    border-radius: 25px;
    margin: 10px 0px;
}
 hr {
     width: 100%;
     border: 2px solid saddlebrown;
 }

.instructions li{
    font-size: 1.1rem;
    color: rgb(184, 182, 182);
}
.instructions{
    list-style-type: circle ;
}
.payment-form {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#e7e1e1;
}
.payment-field{
  width: 90%;
  height: 4rem;
}

.payment-field input {
    width: 100% !important;
    background: none;
    border: none;
    border-bottom: 2px solid saddlebrown;
    color: rgb(97, 95, 95);
    font-size: 1.2rem;
    padding: 3px;
}
.payment-form input{
    margin: 7px 0px;
    width: 90%;
    background: none;
    border: none;
    border-bottom: 2px solid saddlebrown;
    color: rgb(97, 95, 95);
    font-size: 1.2rem;
    padding: 3px;
}

.payment-field-money{
  width: 80%;
  height: 4rem;
}
.payment-field input:focus, .payment-form input:focus, .payment-field-money input:focus{
    outline: none;
}
.payment-form p {
    color: rgb(97, 95, 95);
    font-size: 1.1rem;
}

.payButton{
    width: 11rem ;
    height: 3rem;
    border: none;
    background: none;
    border: 2px solid sienna;
    border-radius: 25px;
    font-size: 1.1rem;
    background-color: rgb(61, 59, 59);;
    color: rgb(233, 232, 232);
    margin-bottom: 10px;
}
.payButton::after{
    outline: none;
}

small{
    color: red;
}


   
@media screen and (min-width: 300px) and (max-width: 700px) and (orientation: landscape){
      .payment-con{
          width: 80%;
      }


}

@media(min-width : 738px){
    .payment-con{
        width: 80%;
    }
}

@media(min-width : 938px){
    .payment-con-wrapper{
        min-height: 80vh;
    }
    .payment-con{
        width: 70%;
        min-height: 80vh;
    }
}